@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: brown;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;
    padding: 5px 15px 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.seat {
    background-color: gray;
    height: 30px;
    width: 50px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rows {
    display: flex;
}

.seat.selected {
    background-color: aqua;
}

.seat.occupied {
    background-color: red;
}

.seat:nth-of-type(2) {
    margin-right:40px;
}

.seat:nth-last-of-type(2) {
    margin-left: 40px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.4);
}

.showcase.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.4);
}

.showcase {
    background-color: rgba(222, 184, 135, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(8, 8, 8);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    
}
.showcase li small{
    margin-left: 2px;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
}
.screen{
    background-color: bisque;
    height: 70px;
    width: 100%;
    margin: 15px 0; 
    transform: rotateX(-45);
    box-shadow: 0px 3px 10px rgb(255, 255, 255);

}

.container{
    perspective: 1000px;
    margin-bottom: 30px;
}
p.text{
    margin: 5px 0px;
}
.p text span{
    color: burlywood;
}